
.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #4f92ff;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.active-menu {
    background-color:#4f92ff!important;
}
.navbar-header {
    background: #4f92ff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4f92ff;
}
#wrapper {
    width: 100%;
    background: #305c71;
}
.navbar-cls-top {
    background: #305c71;
    border-bottom: none;
}
.sidebar-collapse , .sidebar-collapse .nav{
    background: #305c71;
}
.sidebar-collapse .nav > li > a {
    color:#fff;
    background:#305c71;
    text-shadow:none;
}
