*{ 
  padding: 0px; 
  margin: 0px; 
} 

#utama { 
background-image: url("img/listrik.jpg");
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
height: 100%;
} 

.header{
  position: relative;
  margin: 0px auto;
  width: 340px;
  top: 25%;
  background-color: rgb(251, 230, 9);
}

.form-header{
  margin-bottom: 20px;
}

.gambar {
  background-color: rgb(251, 230, 9);
  height: 330px;
  border: 2px solid rgb(91, 175, 222);
} 

img {
  width: 130px;
  height: 120px;
  margin-left: 100px;
  margin-top: 15px;
} 

.login_regis { 
  height: 40px; 
  width: 260px; 
  text-align: center; 
  color: white; 
  font-size: 17px; 
  border-radius: 8px; 
  background-color: rgba(225, 255, 255, 0.4); 
  border: 3px solid #0288D1; 
  margin-left: 42px; 
  margin-top: 10px; 
} 

.tombol_login { 
  width: 260px; 
  height: 30px; 
  text-align: center; 
  background-color: #0288D1; 
  color: white; 
  font-size: 17px; 
  border: 2px solid #0288D1; 
  border-radius: 8px; 
  margin-top: 20px; 
  margin-left: 42px; 
} 

.login_regis:hover { 
  border: 3px solid #fff; 
} 

.tombol_login:hover { 
  background-color: white; 
  color: #0288D1; 
  border: 2px solid white; 
} 

